$search-color: #cecfd1;
$search-point-color: #f95139;

.header__search-wrap {
  background-color: white;
  top: 43px;
  width: 33%;
  height: 55px;
  left: 34%;
  position: relative;

  #main-logo {
    cursor: pointer;
    display: inline-block;
    height: 51px;
    width: 119px;
  }

  .header__search-form {
    position: absolute;
    left: 18%;
    margin: 0;
    display: inline-block;

    &__input-wrap {
      height: 578px;
      height: 54px;
      padding: 16px 60px 14px 30px;
      border: $search-color 1px solid;
      border-radius: 10px;
    }

    &__input-wrap:focus-within {
      border: $search-point-color 1px solid;
    }

    .search-form__input {
      width: 578px;
      height: 23px;
      font-size: 24px;
      border: none;
    }

    .search-form__btn {
      cursor: pointer;
      position: absolute;
      right: 2%;
      top: 26%;
      height: 25px;
      width: 25px;
      background-color: transparent;
      border: none;
      background: url("../images/ico.png") no-repeat;
    }
  }
}

.roll-search-wrap {
  // display: none;
  position: absolute;
  line-height: 22px;
  left: 20%;
  overflow: hidden;
  width: 578px;
  height: 23px;
  top: 16px;
  user-select: none; // input에 focus 되게 해주는 속성
  pointer-events: none; // input에 focus 되게 해주는 속성

  .roll-search-list {
    position: absolute;
    width: 578px;
    top: 0px;

    li {
      margin-bottom: 10px;
      color: rgb(147, 147, 147);
      font-size: 20px;
      font-weight: 700;

      .list-rank {
        margin-right: 15px;
      }
    }
  }
}
