@import "./nav.scss";
@import "./main-top.scss";
@import "./bottom-section.scss";
@import "./roll-search.scss";

$site_max_width: 960px;
$font_color: #333;
$link_color: #00c;
$search_color: #cecfd1;
$bg_color: #f3f3f3;
$font_family: Arial, sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

body {
  width: 100%;
  background-color: $bg_color;

  color: $font_color;
}

header {
  display: block;
}
